<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Paintings exam</title>
</head>
<body>
    <header>
        <h1>Paintings Exam</h1>
    </header>
    <div class="flash">
        {% with messages = flashed_messages() %}
            {% if messages %}
                {% for x in messages %}
                    <h4>{{x}}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <div class="row">
            <form action="/register/" method="post">
                <section>
                    <label for="firstname">First Name</label>
                    <input type="text" name="'firstname">
                </section>
                <section>
                    <label for="lastname">Last Name</label>
                    <input type="text" name="'lastname">
                </section>
                <section>
                    <label for="email">email</label>
                    <input type="text" name="email">
                </section>
                <section>
                    <label for="password">passwosrd</label>
                    <input type="password" name="'password">
                </section>
                <section>
                    <label for="confirm">Confirm Password</label>
                    <input type="password" name="'confirm">
                </section>
            </form>
            <form action="/login/" method="post">
                <section>
                    <label for="email">email</label>
                    <input type="text" name="email">
                </section>
                <section>
                    <label for="password">passwosrd</label>
                    <input type="password" name="'password">
                </section>
            </form>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>