<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Paintings exam</title>
</head>
<body>
    <header>
        <h1>Add Painting</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
        {{user.fullName()}}
    </header>
    <div class="flash">
        {% with messages = flashed_messages() %}
            {% if messages %}
                {% for x in messages %}
                    <h4>{{x}}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <div class="row">
            <form action="/updatepainting/" method='post'>
                <div class="column">
                    <section>
                        <label for="title">title</label>
                        <input type="text" name="title">    
                    </section>
                    <section>
                        <label for="description">description</label>
                        <textarea name="description" cols="25" rows="10"></textarea>   
                    </section>
                    <section>
                        <label for="price">price</label>
                        <input type="text" name="price">   
                    </section>
                </div>
                <button>Add painting</button>
            </form>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>